# Python virtual environment
venv/
env/
ENV/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# IDE
.idea/
.vscode/
*.swp
*.swo 